{% comment %} {% assign avg_rating = block.settings.product.metafields.demo.avg_rating.value | round %}
<span style="color:{{ block.settings.colour }}">
  {% render 'stars', rating: avg_rating %}
</span>
{% if avg_rating >= 4 %}
  <br>
  <img src="{{ "thumbs-up.png" | asset_img_url: '15x' }}" height="15" width="15" loading="lazy">
  {{ 'ratings.home.recommendationText' | t }}
{% endif %} {% endcomment %}
<link type="text/css" href="{{ 'review.css' | asset_url }}" rel="stylesheet">
{% comment %}theme-check-disable ParserBlockingScriptTag{% endcomment %}
{{ 'review.js' | asset_url | script_tag }}
{% comment %}theme-check-enable ParserBlockingScriptTag{% endcomment %}
<div class="container">
  <form id="submitform" >
  <div class="row">
    <div class="col-25">
      <label for="rating">Rating</label>
    </div>
    <div class="col-75 rating">
      <label>
        <input type="radio" id="rating1" name="rating" value="1" />
        <span class="icon">★</span>
      </label>
      <label>
        <input type="radio" id="rating2" name="rating" value="2" />
        <span class="icon">★</span>
        <span class="icon">★</span>
      </label>
      <label>
        <input type="radio" id="rating3" name="rating" value="3" />
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
      </label>
      <label>
        <input type="radio" id="rating4" name="rating" value="4" />
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
      </label>
      <label>
        <input type="radio" id="rating5" name="rating" value="5" />
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
      </label>
      </div>
  </div>
    <div class="row">
      <div class="col-25">
        <label for="comment">Comment</label>
      </div>
      <div class="col-75">
        <textarea id="comment" name="comment" placeholder="Your comment.." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit" onclick="postReview(1)">
    </div>
  </form>
  <div hidden>
    <input type="text" name="shopname" id="shopId" value="{{ shop.domain }}">
    <input type="text" name="customer" id="customerId" value="{{ customer.id }}">
    <input type="text" name="product" id="productId" value="{{ product.id }}">
  </div>
</div>
{% schema %}
{
  "name": "Star Rating",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#FF0000" }
  ]
}
{% endschema %}